body{
    background-color: silver;
}
.listitem img{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.listitem div{
    display: inline-block;
    vertical-align: text-top;
    width: 38%;
}
.listitem a{
    width: 8%;
    display: inline-block;
    vertical-align: text-top;
}
.substrate{
    background-color: white;
    width: 40%;
    padding: 1%;
    margin: 10% 30%;    
}
.mainwindow{
    background-color: white;
    border: solid 1px black;
    padding: 10px;
    font-family: Lucida Sans;
    font-size: 15px;
    font-weight: normal;
}
.header{
    background-color: lightgreen;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    font-stretch: ultra-condensed;
}
.header div img{
    display: inline-block;
    width: 10%;
}
.header div span{
    display: inline-block;
}
.section{
    /*display: inline-block;*/
    padding: 2%;
}
.moviepicture{
    display: inline-block;
    vertical-align: top;
    width: 47%;
    padding: 1%;
}
.moviename{
    text-align: left;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: lightgray;
    font-weight: bold;
}
.info{
    display: inline-block;
    width: 47%;
    padding: 1%;  
}
.footer{
    width: 100%;
}
/*#inputReview{
    width: 100%;
}*/
#charLeft{
    text-align: right;
}
#submit{
    text-align: center;
}